/*
 * Flex: flowing positioning
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

 .box-set {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    background: darkgray;
  }
  
  .box {
    width: 150px;
    height: 150px;
    background: #2db34a;
    border: 2px solid black;
  }
  